

* {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	margin:0 0;
	padding:0 0;
    -ms-touch-action: none;
}

body
{
	color:#FFF;
	background-color:#333;
	margin: 0 0;
	padding: 0 0;
}

#screen
{
    background-color:#111;
}

#clrPicker
{
    display:none;
    z-index:100;
    left:20px;
    right:20px;
    position:absolute;
    background-color:#111;
    top:62px;
    margin:0 auto;
    padding:10px 10px;
    border:solid 1px #333;
}

#clrPicker > div
{
    width:48px;
    height:48px;
    min-width:48px;
    min-height:48px;
    display:inline-block;
    margin:2px 2px;
    padding:8px 8px;
}

#zoomBar 
{

    border:solid 1px #000;
    background-color:#111;
    width:100%;
    min-width:480px;
    max-width:640px;
    height:60px;
    display:none;
    margin:0 auto;
    text-align: center;
}

#zoomBar > div
{
    width:64px;
    height:48px;
    min-width:64px;
    max-width: 64px;
    min-height:48px;
    line-height: 48px;
    display:inline-block;
    margin:2px auto;
    padding:8px 8px;
    border:solid 1px #333;
    font-size: 48pt;
    font-weight: bolder;
    font-family: Arial;
}

#zoomVal 
{
    font-size: 32pt;
    font-family: sans-serif;
    letter-spacing: -0.05em; 
    border:none;
}

#toolBar
{
	width:100%;
    min-width:480px;
    max-width:640px;
	height:60px;
	background-color: #333;
    display:table;
    margin:0 auto;
    padding:0 0;
}

#toolBar div
{
    background-color:#99F;
    border:solid 1px rgba(0,0,0,1.0);
    margin:0 auto;
    padding:4px 2px;
    display:table-cell;
    min-width:48px;
    min-height:48px;
    max-width:60px;

    line-height:48px;
    text-align:center;
    background-repeat: no-repeat;
    background-position:center center;


}

#toolBtnMove
{
    background-image:url(../assets/48_move.png);
}

#toolBtnErase
{
    background-image:url(../assets/48_erase.png);
}

#toolBtnUndo 
{
    background-image:url(../assets/48_undo2.png);
}

#toolBtnColor
{
    background-image:url(../assets/48_themes.png);
}

#toolBtnDraw
{
    background-image:url(../assets/48_edit.png);
}

#toolBtnSettings
{
    background-image:url(../assets/48_settings.png);
}

#toolBtnExport
{
    background-image:url(../assets/48_upload.png);
}

#toolBtnZoom 
{
    background-image:url(../assets/48_search.png);
}

#toolBtnDelete
{
    background-image:url(../assets/48_close.png);
}

#container
{
	background-color:Blue;
	margin:0 auto;
	padding:0 0;
    width:480px;
    height:480px;
    overflow:hidden;
}

#content
{
    margin:0 auto;
    -webkit-transform-origin: 0 0;
    position:relative;
}
